{{title }}
<p *ngIf="loading">Loading....</p>
<!--<ng-container *ngIf="!loading && products.length>0">-->
<!--  <app-product *ngFor="let product of products; let i = index" [index]="i" [product]="product"></app-product>-->
<!--</ng-container>-->
<input class="w-full bg-amber-300 border-2 border-blue-600" [(ngModel)]="term"/>


<div *ngIf="productsService.products">
  <!--<div *ngIf="products$ | async as products">-->
  <app-product *ngFor="let product of productsService.products | filterProducts: term; let i = index" [index]="i"
               [product]="product">

  </app-product>
  <app-modal *ngIf="modalService.isVisible$ | async " title="Create new Product">
    <!--    <app-modal [title]="'Create new Product'">-->
    <app-create-product></app-create-product>
  </app-modal>

  <button (click)="modalService.open()">OPEN ADD PRODUCT</button>
</div>
